.wrapper {
    box-shadow: 0 5px 4px -5px rgb(88, 85, 85);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--white);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-height: 80px;
}

.img {
    width: 90px;
    height: 80px;
    object-fit: cover;
}

.navigation {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0 20px 0 10px;
}

.item {
    color: var(--black);
    border-bottom: 1px solid transparent;
    transition: all ease-in-out .3s;

    &:hover {
        border-color: var(--main-color);
        color: var(--main-color);
    }
}

.btn {
    background-color: transparent;

    &:hover {
        background-color: var(--l-gray);

    }
}

.log-out {
    font-weight: 600;
    font-size: 0.9rem;
    background-color: transparent;
    margin-top: 1px;

    &:hover {
        background-color: var(--l-gray);

    }
}

.currentUser {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        border-color: transparent;
        color: var(--black);
    }
}

.avt {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
}