.wrapper {
    width: 100%;
    height: 100vh;
    background: url('../../assets/imgs/backgroundNotFound.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: var(--default-layout-width);
    height: calc(var(--default-background-height) / 2);
    background-color: rgba(76, 76, 76, 0.3);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
}

.heading {
    font-size: 7rem;
    color: var(--white);
}

.content {
    padding: 10px;
    color: rgb(202, 230, 230);
    font-size: 2rem;
}

.text {
    font-style: italic;
}

.btn {
    background-color: var(--main-color);
    margin-top: 20px;
    transition: all 0.4s ease-in-out;
    border: 1px solid transparent;

    &:hover {
        border-color: var(--white);
        color: var(--main-color);
        background-color: var(--white);
    }
}

// Responsive
@media only screen and (max-width: 480px) {
    .wrapper {
        background: url('../../assets/imgs/mobileBackgroundNotFound.jpg');
        background-size: contain;
        padding: 10px;
    }

    .container {
        height: 70vh;
    }

    .content {
        font-size: 1.6rem;
    }
}